.strong {
  font-weight: 500;
}

.px-1 {
  padding: 0 1.8rem 0 1.8rem;
}

.mx-1 {
  margin: 0 1.8rem 0 1.8rem;
}

.-mx-1 {
  margin: 0 -1rem 0 -1rem;
}

.z-40 {
  z-index: 40;
}

.flex {
  display: flex;
}
