.strong {
  font-weight: 500;
}

.px-2 {
  padding: 0 2px 0 2px;
}

.-px-2 {
  padding: 0 -2px 0 -2px;
}

.mx-2 {
  margin: 0 2px 0 2px;
}

.-mx-2 {
  margin: 0 -2px 0 -2px;
}

.flex {
  display: flex;
}
