@import "../variables.scss";

.description-section {
  @include mx-auto;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  .description-container {
    margin-top: 9rem;
    display: flex;
    justify-content: flex-end;
    .description-text {
      display: flex;
      max-width: 40%;
      margin-left: 9rem;
      flex-direction: column;
      justify-content: flex-end;
      .description-h {
        @include weaker-h;
        max-width: 100%;
        text-wrap: nowrap;
        text-align: left;
      }
      .description-p {
        max-width: 100%;
        text-align: left;
      }
      .description-buttons {
        .description-btn--blue {
          @include blue-btn;
          padding: 0.8rem 1.7rem 0.8rem 1.7rem;
          font-size: 1.15rem;
        }
        .description-btn--blue:hover {
          @include blue-btn--hover;
        }
      }
    }
  }
  .description-div--absolute {
    position: absolute;
    left: 0;
    .absolute-img {
      position: absolute;
      left: 170px;
      z-index: 40;
      transform: translate(0, 10%);
    }
    .blue-div-left {
      position: relative;
      z-index: 30;
      transform: translate(0, 40%);
      width: 600px;
      height: 325px;
      background-color: $light-blue;
      border-radius: 0 70rem 70rem 0;
    }
  }
}
@media (max-width: 1250px) {
  .description-section {
    .description-div--absolute {
      // margin-top: 10rem;
      .absolute-img {
        width: 450px;
        left: 55px;
        transform: translate(0, 40%);
      }
      .blue-div-left {
        width: 400px;
        height: 300px;
        transform: translate(0, 50%);
        background-color: $light-blue;
        border-radius: 0 70rem 70rem 0;
      }
    }
  }
}

@media (max-width: 940px) {
  .description-section {
    .description-div--absolute {
      // margin-top: 10rem;
      .absolute-img {
        width: 90%;
      }
    }
    .description-container {
      margin-top: 30rem;

      .description-text {
        max-width: 100%;
        margin-left: 0;
        .description-h {
          max-width: 100%;
          font-size: 1.3em;
        }
        .description-p {
          text-align: center;
        }
      }
      .description-buttons {
        display: none;
      }
    }
  }
}

@media (max-width: 540px) {
  .description-section {
    .description-container {
      margin-top: 20rem;
      .description-text {
        .description-h {
          text-align: center;
          font-size: 1.1em;
        }
        .description-p {
          font-size: 0.825em;
        }
      }
    }
    .description-div--absolute {
      .absolute-img {
        transform: translate(0, 20%);
        width: 100%;
        left: 25px;
      }
      .blue-div-left {
        transform: translate(0, 30%);
        width: 300px;
        height: 200px;
      }
    }
  }
}
