@import "../variables";

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  .mobile-first-line {
    display: none;
  }
  .btn-fake-border--bottom {
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid;
    .feature-btn {
      border: none;
      border-bottom: 0px solid $light-gray;
      background-color: white;
      color: $dark-blue;
      width: 240px;
      height: 3em;
      font-size: 1.15rem;
    }
    .feature-btn:hover {
      @include text--hover;
    }
    .feature-btn--focused {
      border-bottom: 3px solid $light-red;
      z-index: 20;
    }
  }
}

@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
    .mobile-first-line {
      display: flex;
      width: 100%;
      border: 0.1px solid $light-gray;
    }
    .btn-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .feature-btn {
      width: 100%;
    }
  }
}
