@import "../variables.scss";

.getBookmark-section {
  @include mx-auto;
  h1 {
    font-size: 2em;
    font-weight: 500;
    margin-right: 3rem;
  }
  .getBookmark-container {
    display: flex;
    position: relative;
    margin-bottom: 12rem;
    margin-top: 10rem;
    .getBookmark-text {
      max-width: 40%;
      .getBookmark-buttons {
        .getBookmark-btn--blue {
          @include blue-btn;
          font-size: 1em;
          padding: 0.9rem 1rem 0.9rem 1rem;
        }
        .getBookmark-btn--blue:hover {
          @include blue-btn--hover;
        }
        .getBookmark-btn--white {
          @include blue-btn;
          font-size: 1em;
          background-color: #f6f6f6;
          color: #8e8f96;
          border: 2px solid #f6f6f6;
          padding: 0.9rem 1rem 0.9rem 1rem;
          margin-left: 1rem;
          box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.1);
        }
        .getBookmark-btn--white:hover {
          color: gray;
          border: 2px solid gray;
          background-color: white;
          transition: 0.3s;
          animation: ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 1180px) {
    .getBookmark-container {
      .getBookmark-text {
        margin-top: 20rem;
        max-width: 100%;
        text-align: center;
        h1 {
          font-size: 1.5em;
          margin: 0;
        }
        p {
          margin: 1rem 0 1rem 0;
        }
        .getBookmark-buttons {
          display: flex;
          justify-content: center;
          font-size: 0.8em;
        }
      }
    }
  }
}

.getBookmark-image {
  position: absolute;
  z-index: 40;
  right: 0;
  top: 0;
  transform: translate(-10%, 35%);
}
@media (max-width: 1180px) {
  .getBookmark-image {
    transform: translate(0, 40%);
    margin: 0 1.8rem 0 1.8rem;
    img {
      max-width: 100%;
    }
  }
}

.blue-div--right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 100%);
  background-color: $light-blue;
  width: 500px;
  height: 300px;
  border-radius: 70rem 0 0 70rem;
  z-index: 10;
}
@media (max-width: 1180px) {
  .blue-div--right {
    position: absolute;
    width: 300px;
    height: 200px;
    transform: translate(0, 80%);
  }
}
