@import "../variables";

header {
  @include mx-auto;
  .logo-container {
    display: flex;
    align-items: center;
    width: 50%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:hover {
      @include text--hover;
    }
  }
  .login-btn {
    background-color: hsl(0, 94%, 66%);
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    border: solid 2px $light-red;
    color: white;
  }
  .login-btn:hover {
    @include red-btn--hover;
  }
  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    // align-items: space-between;
    width: 50%;
  }
}
@media (max-width: 940px) {
  header {
    margin-top: 2rem;
    .mobile-menu {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
    .header-nav {
      display: none;
    }
  }
}
